<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Respuesta</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <style>
        .font_mich{
            font-family: 'DM Sans', sans-serif;
            color: #850091;
        }
    </style>
</head>
<body>
    <h1 class="font_mich" th:text="${nombre}"></h1>
</body>
</html>